In [326]:
# Load in libraries
import pandas as pd
import re
from fuzzywuzzy import fuzz
import numpy as np

# Units and Parameter names

In [327]:
params_json = pd.read_json('X1.json')
params_json

    Abbreviation                                           Synonyms
0        11DEOXY  [11 deoxycortisol, Cortodoxin, Deoxycorticoste...
1          17OHP  [17 hydroxyprogesterone, 17-Hydroxyprogesteron...
2          ACACT  [acetoacetate, AcAc, Acetoacetic Acid, Diaceti...
3            ALT  [alanine transaminase, SGPT, Serum Glutamate P...
4            ALB  [albumin, Serum Albumin, Human Albumin, Plasma...
..           ...                                                ...
254          PDW  [Platelet Distribution Width, Platelet Width, ...
255        TFT-R  [Thyroid Function Test - Reflex, Thyroid Funct...
256          TFT  [Thyroid Function Test, Thyroid Function Panel...
257        TPOAb  [Thyroid Peroxidase Antibodies, Anti-Thyroid P...
258         TgAb  [Thyroglobulin Antibodies, Anti-Thyroglobulin ...

[259 rows x 2 columns]

In [328]:
params_json['Abbreviation'].value_counts()

Abbreviation
CA2729    2
CO2       2
CRPLN     2
CEA       2
CCTN      2
         ..
GLOB      1
GLCGN     1
GLUC      1
G6PD      1
TgAb      1
Name: count, Length: 249, dtype: int64

In [329]:
# Check the duplicate abbreviations
params_json['Synonyms'][params_json['Abbreviation'] == 'CO2'][46]

['carbon dioxide',
 'CO2 Gas',
 'Carbonic Acid Gas',
 'Carbon Dioxide Molecule',
 'CO2 Gas',
 'Carbonic Acid Anhydride',
 'Dry Ice',
 'CO2',
 'Carbonic Anhydride',
 'Carbon(IV) Oxide']

In [330]:
params_json['Synonyms'][params_json['Abbreviation'] == 'CO2'][56]

['carbon dioxide',
 'CO2 Gas',
 'Carbonic Acid Gas',
 'Respired Carbon Dioxide',
 'Bicarbonate']

In [331]:
# Group the synonyms of the parameters that appear more than once.
params_json = params_json.groupby('Abbreviation')['Synonyms'].agg(lambda x: sum(x, [])).reset_index()

In [332]:
# Add the abbreviation to the synonyms row
params_json['Synonyms'] = params_json.apply(lambda row: [row['Abbreviation']] + row['Synonyms'], axis =1)

In [333]:
params_json

    Abbreviation                                           Synonyms
0        11DEOXY  [11DEOXY, 11 deoxycortisol, Cortodoxin, Deoxyc...
1          17OHP  [17OHP, 17 hydroxyprogesterone, 17-Hydroxyprog...
2      A/G_RATIO  [A/G_RATIO, Albumin/Globulin Ratio, A/G Ratio,...
3          A1GLO  [A1GLO, alpha-1 globulin, Alpha-1 Globulin, α1...
4          A2GLO  [A2GLO, alpha-2 globulin, Alpha-2 Globulin, α2...
..           ...                                                ...
244        vitB9  [vitB9, Vitamin B9, Folate, Folic Acid, Folaci...
245         vitC  [vitC, Vitamin C, Ascorbic Acid, Ascorbate, L-...
246         vitD  [vitD, Vitamin D, Calciferol, Cholecalciferol,...
247         vitE  [vitE, Vitamin E, Tocopherol, Tocotrienol, Alp...
248        vitK1  [vitK1, Vitamin K1, Phylloquinone, Phytomenadi...

[249 rows x 2 columns]

# Analyse samples

In [334]:
# Create list of samples given
sample_list = ['0ab9800e-bc9a-4388-aaa2-d4fc05e7d111.txt',
               '0b8706dc-c9af-4c6b-887d-2f85b5a511e7.txt',
               '0c59298d-4205-4f6a-8bc9-c078123da03a.txt',
               '0c848136-de54-49eb-a3c4-b04dda11ef42.txt',
               '0ca602c0-d93a-4ae2-b91f-532db7e174ae.txt',
               '0deee5f5-f9d3-4712-8d2e-c5f7cd9895dc.txt',
               '0ea75106-2a9d-4adc-9dad-33256e7d9aad.txt',
               '0ecb52fd-138f-4566-bdef-06fabdd7019d.txt',
               '02b832e1-66cc-4f35-8b52-abf41cd821b2.txt']

In [335]:
dates = ['10/12/2018',
         '13/02/2024',
         '18/01/2024',
         'missing',
         '18/01/2024',
         '02/04/2019',
         '26/94/2019',
         '02/02/2024',
         '03/03/2022'
         ]

In [336]:
samples = pd.DataFrame()

In [337]:
# Save each sample to a different variable
raw_text_list = []
for sample in sample_list:
        with open(sample, 'r', encoding='latin1') as f:
            raw_text_list.append(f.read())

In [338]:
samples['raw_text'] = raw_text_list

In [339]:
samples['date'] = dates

In [340]:
samples

                                            raw_text        date
0  Patient Name;, \nPatient Address: \n\nD.O.B: 2...  10/12/2018
1  Patient Health Summary\n\nremoved\n\nremoved\n...  13/02/2024
2  iilaverty -â- Pathology Report resuits @RCPA...  18/01/2024
3   \n\nHAEMATOLOGY\n\n \n15\nBLOOD - EDTA Result...     missing
4  ilaverty Pathology Report resus\n\npathology E...  18/01/2024
5  AUSTRALIAN LABORATORY 3427-18703 Referred: 02/...  02/04/2019
6  \n\n \n\n \n\n  \n \n  \n \n \n \n \n\n29 APR\...  26/94/2019
7  Peghy Â«Ao Â¢4 AG +48 | 38 â> CLINICAL LABOR...  02/02/2024
8  Patient Name ee Barcode ; [eennnennninittte\n\...  03/03/2022

# Building Function

In [374]:
sample_1_list = samples['raw_text'][1].split('\n')
sample_1_list[:50]

['Patient Health Summary',
 '',
 'removed',
 '',
 'removed',
 '',
 '',
 'D.O.B.: ',
 '',
 'Record No.:',
 '',
 'Home Phone:',
 '',
 'Work Phone:',
 '',
 'removed',
 '',
 'Printed on 27th February 2024',
 '',
 ' ',
 '',
 'Investigations:',
 '',
 'removed',
 '',
 'removed',
 '',
 'removed',
 '',
 'remoed',
 '',
 'Laboratory: dhm',
 '',
 'removed',
 '',
 'Name of Test: MSU',
 'Requested: 30/01/2024 Collected: 30/01/2024 Reported: 13/02/2024 17:17',
 '',
 'Clinical notes: 2? UTI',
 '',
 'Clinical Notes : ? UTI',
 '',
 'Urine',
 '',
 'pH 7 Protein Nil Glucose Nil',
 '',
 'Blood Nil Ketones Nil',
 '',
 'Specific gravity 1.012 (1.005 - 1.030)',
 '']

In [342]:
def contains_number(string):
    # Check if the string contains a number
    return bool(re.search(r'\d', string))

def contains_date(string):
    # Check if the string contains a date
    return bool(re.search(r'\b\d{2}/\d{2}/\d{4}\b', string))

def remove_parentheses(line):
    # Define a regular expression pattern to match parentheses and their contents
    pattern = r'\([^()]*\)|\[[^\[\]]*\]'

    # Apply the pattern to each line and remove the matched substrings
    cleaned_line = re.sub(pattern, '', line)

    return cleaned_line

In [375]:
# Filter the list to keep only strings that contain a number
filtered_list = list(map(lambda x: remove_parentheses(x), sample_1_list))

filtered_list[:50]

['Patient Health Summary',
 '',
 'removed',
 '',
 'removed',
 '',
 '',
 'D.O.B.: ',
 '',
 'Record No.:',
 '',
 'Home Phone:',
 '',
 'Work Phone:',
 '',
 'removed',
 '',
 'Printed on 27th February 2024',
 '',
 ' ',
 '',
 'Investigations:',
 '',
 'removed',
 '',
 'removed',
 '',
 'removed',
 '',
 'remoed',
 '',
 'Laboratory: dhm',
 '',
 'removed',
 '',
 'Name of Test: MSU',
 'Requested: 30/01/2024 Collected: 30/01/2024 Reported: 13/02/2024 17:17',
 '',
 'Clinical notes: 2? UTI',
 '',
 'Clinical Notes : ? UTI',
 '',
 'Urine',
 '',
 'pH 7 Protein Nil Glucose Nil',
 '',
 'Blood Nil Ketones Nil',
 '',
 'Specific gravity 1.012 ',
 '']

In [376]:
# Filter the list to keep only strings that contain a number
filtered_list = [s for s in filtered_list if contains_number(s)]

filtered_list[:50]

['Printed on 27th February 2024',
 'Requested: 30/01/2024 Collected: 30/01/2024 Reported: 13/02/2024 17:17',
 'Clinical notes: 2? UTI',
 'pH 7 Protein Nil Glucose Nil',
 'Specific gravity 1.012 ',
 'Leucocytes 5 x10*6/L ',
 'Erythrocytes H 14 x10*6/L ',
 'Epithelial cells 5 x10*6/L',
 'Comment on Lab ID 887475034',
 'NATA Accreditation No 2178',
 'Requested: 30/01/2024 Collected: 31/01/2024 Reported: 13/02/2024 17:17',
 'Rubella IgG  11 IU/mL',
 'Comment on Lab ID 838828312',
 '<5 IU/mL: Not immune',
 '5-9 IU/mL: Equivocal',
 '>/=10 IU/mL: Immune',
 'NATA Accreditation No 2178',
 'Requested: 30/01/2024 Collected: 31/01/2024 Reported: 13/02/2024 17:17',
 'Date 29/01/19 28/07/23 14/08/23 31/01/24',
 'Time F-Fast 1640 0839 F 1248 0727 F',
 'Lab ID 295348768 885515368 887902883 838828312 Units Reference',
 'Sodium 140 L 134 139 140 mmol/L ',
 'Potassium 4.9 5.5 4.8 4.5 mmol/L ',
 'Chloride 106 106 107 106 mmol/L ',
 'Bicarbonate 23 21 21 25 mmol/L ',
 'Urea 4.0 4.8 5.3 5.1 mmol/L ',
 'Creatinine 70 70 65 65 umol/L ',
 'eGFR >90 >90 >90 >90 mL/min/1.73m2 ',
 'Calcium 2.40 mmol/L ',
 'Corr Calcium 2.34 mmol/L ',
 'Magnesium. 0.84 mmol/L ',
 'Phosphate. 1.08 mmol/L ',
 'Bili.Total 11 H 20 H 18 umol/L ',
 'ALP 59 60 70 U/L ',
 'GGT 13 11 15 U/L ',
 'LD 187 203 178 U/L ',
 'AST 19 25 23 U/L ',
 'ALT 16 12 22 U/L ',
 'Total Protein 76 70 72 g/L ',
 'Albumin 46 44 46 g/L ',
 'Globulin 30 26 26 g/L ',
 'Cholesterol 4.7 mmol/L ',
 'Triglycerides 0.6 mmol/L ',
 'Comments on Collection 31/01/24 0727 F:',
 'NATA Accreditation No 2178',
 'Requested: 30/01/2024 Collected: 31/01/2024 Reported: 13/02/2024 17:17',
 'Date 23/12/17 24/09/18 28/07/23 31/01/24',
 'Time F-Fast 0825 F 1100 0839 F 0727 F',
 'Lab ID 266516640 282139635 885515368 838828312 Units Reference',
 'F Gluc Plasma 4.5 4.7 mmol/L ']

In [377]:
# Filter the list to keep only strings that contain a number
filtered_list = [s for s in filtered_list if not contains_date(s)]

filtered_list[:50]

['Printed on 27th February 2024',
 'Clinical notes: 2? UTI',
 'pH 7 Protein Nil Glucose Nil',
 'Specific gravity 1.012 ',
 'Leucocytes 5 x10*6/L ',
 'Erythrocytes H 14 x10*6/L ',
 'Epithelial cells 5 x10*6/L',
 'Comment on Lab ID 887475034',
 'NATA Accreditation No 2178',
 'Rubella IgG  11 IU/mL',
 'Comment on Lab ID 838828312',
 '<5 IU/mL: Not immune',
 '5-9 IU/mL: Equivocal',
 '>/=10 IU/mL: Immune',
 'NATA Accreditation No 2178',
 'Date 29/01/19 28/07/23 14/08/23 31/01/24',
 'Time F-Fast 1640 0839 F 1248 0727 F',
 'Lab ID 295348768 885515368 887902883 838828312 Units Reference',
 'Sodium 140 L 134 139 140 mmol/L ',
 'Potassium 4.9 5.5 4.8 4.5 mmol/L ',
 'Chloride 106 106 107 106 mmol/L ',
 'Bicarbonate 23 21 21 25 mmol/L ',
 'Urea 4.0 4.8 5.3 5.1 mmol/L ',
 'Creatinine 70 70 65 65 umol/L ',
 'eGFR >90 >90 >90 >90 mL/min/1.73m2 ',
 'Calcium 2.40 mmol/L ',
 'Corr Calcium 2.34 mmol/L ',
 'Magnesium. 0.84 mmol/L ',
 'Phosphate. 1.08 mmol/L ',
 'Bili.Total 11 H 20 H 18 umol/L ',
 'ALP 59 60 70 U/L ',
 'GGT 13 11 15 U/L ',
 'LD 187 203 178 U/L ',
 'AST 19 25 23 U/L ',
 'ALT 16 12 22 U/L ',
 'Total Protein 76 70 72 g/L ',
 'Albumin 46 44 46 g/L ',
 'Globulin 30 26 26 g/L ',
 'Cholesterol 4.7 mmol/L ',
 'Triglycerides 0.6 mmol/L ',
 'Comments on Collection 31/01/24 0727 F:',
 'NATA Accreditation No 2178',
 'Date 23/12/17 24/09/18 28/07/23 31/01/24',
 'Time F-Fast 0825 F 1100 0839 F 0727 F',
 'Lab ID 266516640 282139635 885515368 838828312 Units Reference',
 'F Gluc Plasma 4.5 4.7 mmol/L ',
 'R Gluc Plasma 4.5 mmol/L ',
 'F Gluc Serum 4.8 mmol/L ',
 'Comments on Collection 31/01/24 0727 F:',
 'Diabetes is unlikely if fasting glucose levels are less than 5.5 mmol/L but']

In [348]:
def param_lister(sample_list, params_df):
    
    # make sample and synonyms lowercase
    sample_list = [s.lower() for s in sample_list]
    params_df['Synonyms'] = [[w.lower() for w in s] for s in params_df['Synonyms']]
    
    # initialise lists to be used for resulting output
    params = []
    matching_synonyms = []
    units = []
    values = []
    line_numbers = []
    
    for i, line in enumerate(sample_list):
        detected = []
        abbrev_no = []
        for j, synonyms in enumerate(params_df['Synonyms']):
            for synonym in synonyms:
                
                pattern = r'\b' + synonym + r'\b'
                # Use only strict matching for shorter length synonyms
                if len(synonym) < 5:
                    # Check if the pattern matches the line
                    if re.search(pattern, line):
                        detected.append(synonym)
                        abbrev_no.append(j)
                
                # Use fuzzy matching for longer length synonyms
                elif re.search(pattern, line) or fuzz.partial_ratio(synonym, line) >= 85:
                    detected.append(synonym)
                    abbrev_no.append(j)
       
        if detected:            
            # Select the parameter detected from the line as the abbreviation for the longest detected synonym
            param = params_df['Abbreviation'][abbrev_no[np.argmax([len(s) for s in detected])]]
            matching_synonym = max(detected, key = len)
            
            # Split line up into elements
            elements = re.split(r'\s+', line)
            
            # Find the unit by finding element that contains / or %
            # Make sure it is the last matching element
            unit = None
            for element in reversed(elements):
                if '/' in element or '%' in element:
                    unit = element
                    elements.remove(element)
                    break
            
            # Find the unit by finding element that only contains numbers
            # Make sure it is the last matching element
            value = None
            for element in reversed(elements):
                if any(char.isdigit() for char in element):
                    value = element
                    break
            
            params.append(param)
            matching_synonyms.append(matching_synonym)
            units.append(unit)
            values.append(value)
            line_numbers.append(i)
            text = [sample_list[n] for n in line_numbers]
            df = pd.DataFrame({'param': params, 'unit': units,'value': values, 'line_number': line_numbers,'matching_synonym' : matching_synonyms, 'text': text})
            df.dropna(inplace=True)
            df.drop_duplicates(subset=['param'], keep='first', inplace=True)
            df.reset_index(drop=True, inplace=True)
    return df

In [349]:
%%time
test = param_lister(filtered_list, params_json)
test

CPU times: total: 1min 22s
Wall time: 1min 22s

,param,unit,value,line_number,matching_synonym,text
0,RBC,x10*6/l,14,5,erythrocytes,erythrocytes h 14 x10*6/l
1,GGLO,iu/ml,11,9,igg,rubella igg 11 iu/ml
2,Na+,mmol/l,140,18,sodium,sodium 140 l 134 139 140 mmol/l
3,K+,mmol/l,4.5,19,potassium,potassium 4.9 5.5 4.8 4.5 mmol/l
4,Cl-,mmol/l,106,20,chloride,chloride 106 106 107 106 mmol/l
5,CO2,mmol/l,25,21,bicarbonate,bicarbonate 23 21 21 25 mmol/l
6,UREA,mmol/l,5.1,22,urea,urea 4.0 4.8 5.3 5.1 mmol/l
7,CREA,umol/l,65,23,creatinine,creatinine 70 70 65 65 umol/l
8,EGFR,ml/min/1.73m2,>90,24,egfr,egfr >90 >90 >90 >90 ml/min/1.73m2
9,Ca2+,mmol/l,2.40,25,calcium,calcium 2.40 mmol/l
10,P5+,mmol/l,1.08,28,phosphate,phosphate. 1.08 mmol/l
11,BILIIN,umol/l,18,29,bili,bili.total 11 h 20 h 18 umol/l
12,ALP,u/l,70,30,alp,alp 59 60 70 u/l
13,GGT,u/l,15,31,ggt,ggt 13 11 15 u/l
14,AST,u/l,23,33,ast,ast 19 25 23 u/l
15,ALT,u/l,22,34,alt,alt 16 12 22 u/l
16,PROT,g/l,72,35,total protein,total protein 76 70 72 g/l
17,ALB,g/l,46,36,albumin,albumin 46 44 46 g/l
18,TRIGL,mmol/l,0.6,39,triglycerides,triglycerides 0.6 mmol/l
19,GLUC,mmol/l,4.7,45,gluc,f gluc plasma 4.5 4.7 mmol/l
20,FGLUC,mmol/l,5.5,49,fasting glucose test,diabetes is unlikely if fasting glucose levels...
21,TFER,g/l,2.7,56,transferrin,transferrin 2.2 2.5 2.7 g/l
22,FERR,ug/l,47,59,ferritin,ferritin 38 719 39 47 ug/l
23,CHOL,mmol/l,2.0,66,chol,hdl chol. 1.6 2.0 mmol/l
24,VLDLC,mmol/l,>1.0,73,vldl cholesterol,hdl cholesterol >1.0 mmol/l
25,NONHDL,mmol/l,<3.3,75,non-hdl cholesterol,non-hdl cholesterol <3.3 mmol/l
26,HBA1C,g/l,134,81,hemoglobin a1c,haemoglobin 124 128 127 134 g/l
27,MCHC,g/l,325,86,mchc,mchc 328 338 344 325 g/l
28,WBC,x10*9/l,7.9,88,wcc,wcc 7.7 8.4 9.3 7.9 x10*9/l
29,NEUT,x10*9/l,4.11,89,neutrophils,neutrophils 4.32 4.50 4.69 4.11 x10*9/l
30,LYMPHO%,x10*9/l,2.96,90,lympho%,lymphocytes 2.77 2.96 3.67 2.96 x10*9/l
31,MONO,x10*9/l,0.59,91,monocytes,monocytes 0.52 0.76 0.63 0.59 x10*9/l
32,EOS,x10*9/l,0.17,92,eosinophils,eosinophils 0.07 0.11 0.22 0.17 x10*9/l
33,BASO,x10*9/l,0.04,93,basophils,basophils 0.04 0.07 0.04 0.04 x10*9/l
34,NRBCs,/100,<1.0,94,nrbc,nrbc <1.0 <1.0 <1.0 <1.0 /100 wbc
35,PLAT,x10*9/l,261,95,platelets,platelets 221 267 234 261 x10*9/l
36,ESR,mm/h,1,96,esr,esr 1 mm/h
37,TSH,milu/l,2.99,105,tsh,tsh 1.14 1.18 1.57 2.99 milu/l
38,vitD,nmol/l,83,110,vitamin d2,vitamin d 73 83 nmol/l
39,GALT,nmol/l,29,114,galt deficiency,moderate deficiency 12.5 - 29 nmol/l
40,PHEALA,nmol/l,20,117,phe level,winter - the level may need to be 10 - 20 nmol...
41,URIC,mmol/l,0.21,283,urate,urate 0.20 0.21 mmol/l
42,PTH,pmol/l,3.5,300,parathyroid hormone,intact parathyroid hormone 3.5 pmol/l

issues spotted

- Row  1: No "Rubella" in the parameter json so "Rubella IgG" has just been identified as "IgG"
- Row 20: fasting glucose test reading picked up from likely recommendation
- Row 23: "vldl cholesterol" from "hdl cholesterol"
- Row 39: "galt deficiency" from "moderate deficiency"
- Row 40: "phe level" from "winter - the level may need to be 10 - 20 nmol..."

# Putting all together to test

In [360]:
# Create raw_text cleaner function
def sample_cleaner(raw_sample):
    
    # Split raw sample into list of its lines
    sample_list = raw_sample.split('\n')
    
    # Remove parenthesis and contents
    sample_list = [re.sub(r'[\(\[][^\)\]]*[\)\]]', '', line) for line in sample_list]
    
    # Remove dates from lines
    sample_list = [re.sub(r'\b\d{2}/\d{2}/\d{2,4}\b', '', line) for line in sample_list]
    
    # Only keep lines with numbers in them
    sample_list = [line for line in sample_list if re.search(r'\d', line)]
    
    
    return sample_list

In [361]:
# apply cleaner function to all samples
samples['cleaned_text'] = samples['raw_text'].apply(sample_cleaner)
samples

,raw_text,date,cleaned_text,params_df
0,"Patient Name;, \nPatient Address: \n\nD.O.B: 2...",10/12/2018,"[TSH miIU/L 0.73 0.82 0.64 0.46, FT4 pmol/L ...",param unit value line_numbe...
1,Patient Health Summary\n\nremoved\n\nremoved\n...,13/02/2024,"[Printed on 27th February 2024, Requested: Co...",param unit value line_number ...
2,iilaverty -â- Pathology Report resuits @RCPA...,18/01/2024,"[Reported 05:13 PM, INSULIN-LIKE GROWTH FACTO...",param unit value line_number matching...
3,\n\nHAEMATOLOGY\n\n \n15\nBLOOD - EDTA Result...,missing,"[15, ESR 2 0-20 mm/h @, HAEMOGLOBIN 122 110-15...",param unit value ...
4,ilaverty Pathology Report resus\n\npathology E...,18/01/2024,"[2019, DOB Age 50 years Sex, Reported 18/01/20...",param unit value line_number matching...
5,AUSTRALIAN LABORATORY 3427-18703 Referred: 02/...,02/04/2019,"[AUSTRALIAN LABORATORY 3427-18703 Referred: , ...",param unit value line_number ...
6,\n\n \n\n \n\n \n \n \n \n \n \n \n\n29 APR\...,26/94/2019,"[29 APR, 64+ Yrs DOB: Sex: Male, Time: 15:40 ...",param unit value line_number ...
7,Peghy Â«Ao Â¢4 AG +48 | 38 â> CLINICAL LABOR...,02/02/2024,[Peghy Â«Ao Â¢4 AG +48 | 38 â> CLINICAL LABO...,param unit value line_number...
8,Patient Name ee Barcode ; [eennnennninittte\n\...,03/03/2022,[Age: Gender : 64/Female Sample Collected On :...,param unit value line_number matching_s...

In [362]:
%%time
# Apply created param function to all samples
samples['params_df'] = samples['cleaned_text'].apply(lambda x: param_lister(x, params_json))

CPU times: total: 3min 54s
Wall time: 3min 54s

In [363]:
# View full dataframe
samples

,raw_text,date,cleaned_text,params_df
0,"Patient Name;, \nPatient Address: \n\nD.O.B: 2...",10/12/2018,"[TSH miIU/L 0.73 0.82 0.64 0.46, FT4 pmol/L ...",param unit value line_numbe...
1,Patient Health Summary\n\nremoved\n\nremoved\n...,13/02/2024,"[Printed on 27th February 2024, Requested: Co...",param unit value line_number ...
2,iilaverty -â- Pathology Report resuits @RCPA...,18/01/2024,"[Reported 05:13 PM, INSULIN-LIKE GROWTH FACTO...",param unit value line_number matching...
3,\n\nHAEMATOLOGY\n\n \n15\nBLOOD - EDTA Result...,missing,"[15, ESR 2 0-20 mm/h @, HAEMOGLOBIN 122 110-15...",param unit value ...
4,ilaverty Pathology Report resus\n\npathology E...,18/01/2024,"[2019, DOB Age 50 years Sex, Reported 18/01/20...",param unit value line_number matching...
5,AUSTRALIAN LABORATORY 3427-18703 Referred: 02/...,02/04/2019,"[AUSTRALIAN LABORATORY 3427-18703 Referred: , ...",param unit value line_number ...
6,\n\n \n\n \n\n \n \n \n \n \n \n \n\n29 APR\...,26/94/2019,"[29 APR, 64+ Yrs DOB: Sex: Male, Time: 15:40 ...",param unit value line_number m...
7,Peghy Â«Ao Â¢4 AG +48 | 38 â> CLINICAL LABOR...,02/02/2024,[Peghy Â«Ao Â¢4 AG +48 | 38 â> CLINICAL LABO...,param unit value line_number...
8,Patient Name ee Barcode ; [eennnennninittte\n\...,03/03/2022,[Age: Gender : 64/Female Sample Collected On :...,param unit value line_number matching_s...

In [364]:
# Check through how each sample performed
samples['params_df'][6]

,param,unit,value,line_number,matching_synonym,text
0,Na+,mmol/l,142,3,sodium,sodium 142 mmol/l
1,K+,mmol/l,4.0,4,potassium,potassium 4.0 mmol/l
2,Cl-,mmol/l,106,5,chloride,chloride 106 mmol/l
3,CO2,mmol/l,28,6,bicarbonate,bicarbonate 28 mmol/l
4,UREA,mmol/l,4.1,7,urea,urea 4.1 mmol/l
5,CREA,umol/l,89,8,creatinine,creatinine 89 umol/l
6,EGFR,ml/mn/1.73m2,79,9,egfr,egfr 79 ml/mn/1.73m2
7,URIC,mmol/l,0.44,10,uric acid,uric acid 0.44 mmol/l
8,Ca2+,mmol/l,2.40,11,calcium,calcium 2.40 mmol/l
9,P5+,mmol/l,1.12,14,inorganic phosphate,inorganic phosphate 1.12 mmol/l

# Final model

In [365]:
# Create final function that returns the disered output of list of dictionaries
def parameter_dictionary(raw_text, params_df):
    """
    Clean raw medical results
    Extracts parameters, values, unit into a list of dictionarys
    
    Parameters:
        raw_text(string): The raw medical data
        params_df: Dataframe of parameter abbreviations and synonyms from json file
        
    Returns:
        list: List of dictionaries ("parameter", "value", "unit")
    
    """
    
    # Convert all string values in params df to lowercase, including strings within lists
    params_df = pd.DataFrame({col: [item.lower() if isinstance(item, str) else [subitem.lower() for subitem in item]
                                    for item in params_json[col]] for col in params_json.columns})
    # Convert raw text to lower case
    lower_text = raw_text.lower()
    
    # Format the params df
    # Group the synonyms of the parameters that appear more than once.
    params_df = params_df.groupby('Abbreviation')['Synonyms'].agg(lambda x: sum(x, [])).reset_index()
    # Add the abbreviation to the synonyms row
    params_df['Synonyms'] = params_df.apply(lambda row: [row['Abbreviation']] + row['Synonyms'], axis =1)
    
    # Clean raw text
    # Split raw sample into list of its lines
    sample_list = lower_text.split('\n')
    # Remove parenthesis and contents
    sample_list = [re.sub(r'\([^()]*\)|\[[^\[\]]*\]', '', line) for line in sample_list]
    # Remove dates from lines
    sample_list = [re.sub(r'\b\d{2}/\d{2}/\d{2,4}\b', '', line) for line in sample_list]
    # Only keep lines with numbers in them
    sample_list = [line for line in sample_list if re.search(r'\d', line)] 
    
    # initialise lists to be used for resulting output
    output_list = []
    seen_params = set()
    
    for line in sample_list:
        # Initialise variables to store detected parameters in line
        detected = []
        abbrev_no = []
        #iterate through each synonym in the parameter df to find any matching in the line
        for j, synonyms in enumerate(params_df['Synonyms']):
            for synonym in synonyms:
                
                # Use regex pattern to maken sure matching synonym is a complete word for strict matching
                pattern = r'\b' + synonym + r'\b'
                # Use only strict matching for shorter length synonyms
                if len(synonym) < 5:
                    # Check if the pattern matches the line
                    if re.search(pattern, line):
                        detected.append(synonym)
                        abbrev_no.append(j)
                
                # Use fuzzy matching as well for longer length synonyms to account for slight recording errors
                elif re.search(pattern, line) or fuzz.partial_ratio(synonym, line) >= 85:
                    detected.append(synonym)
                    abbrev_no.append(j)
       
        # look for values if a synonym has ben detected
        if detected:            
            # Select the parameter detected from the line as the abbreviation for the longest detected synonym
            param = params_df['Abbreviation'][abbrev_no[np.argmax([len(s) for s in detected])]]
            matching_synonym = max(detected, key = len)
            
            # Split line up on spaces into elements
            elements = re.split(r'\s+', line)
            
            # Find the unit by finding element that contains / or %
            # Make sure it is the last matching element
            unit = None
            for element in reversed(elements):
                if '/' in element or '%' in element:
                    unit = element
                    elements.remove(element)
                    break
            
            # Find the unit by finding element that only contains numbers
            # Make sure it is the last matching element
            value = None
            for element in reversed(elements):
                if any(char.isdigit() for char in element):
                    value = element
                    break
            
            # Only add recording dictionary if all keys have values
            if all([param, value, unit]):
                # Only add the recording if the parameter hasn't been recorded already
                if param not in seen_params:
                    output_list.append({
                        "parameter": param,
                        "value": value,
                        "unit": unit
                    })
                    seen_params.add(param)
    
    return output_list

In [366]:
# Load raw files
with open('0b8706dc-c9af-4c6b-887d-2f85b5a511e7.txt', 'r', encoding='latin1') as f:
    raw_text = f.read()
    
params_json = pd.read_json('X1.json')

In [367]:
%%time
# Use function on files and analyse results
results = parameter_dictionary(raw_text, params_json)
results

CPU times: total: 1min 25s
Wall time: 1min 25s

[{'parameter': 'rbc', 'value': '14', 'unit': 'x10*6/l'},
 {'parameter': 'gglo', 'value': '11', 'unit': 'iu/ml'},
 {'parameter': 'na+', 'value': '140', 'unit': 'mmol/l'},
 {'parameter': 'k+', 'value': '4.5', 'unit': 'mmol/l'},
 {'parameter': 'cl-', 'value': '106', 'unit': 'mmol/l'},
 {'parameter': 'co2', 'value': '25', 'unit': 'mmol/l'},
 {'parameter': 'urea', 'value': '5.1', 'unit': 'mmol/l'},
 {'parameter': 'crea', 'value': '65', 'unit': 'umol/l'},
 {'parameter': 'egfr', 'value': '>90', 'unit': 'ml/min/1.73m2'},
 {'parameter': 'ca2+', 'value': '2.40', 'unit': 'mmol/l'},
 {'parameter': 'p5+', 'value': '1.08', 'unit': 'mmol/l'},
 {'parameter': 'biliin', 'value': '18', 'unit': 'umol/l'},
 {'parameter': 'alp', 'value': '70', 'unit': 'u/l'},
 {'parameter': 'ggt', 'value': '15', 'unit': 'u/l'},
 {'parameter': 'ast', 'value': '23', 'unit': 'u/l'},
 {'parameter': 'alt', 'value': '22', 'unit': 'u/l'},
 {'parameter': 'prot', 'value': '72', 'unit': 'g/l'},
 {'parameter': 'alb', 'value': '46', 'unit': 'g/l'},
 {'parameter': 'trigl', 'value': '0.6', 'unit': 'mmol/l'},
 {'parameter': 'gluc', 'value': '4.7', 'unit': 'mmol/l'},
 {'parameter': 'fgluc', 'value': '5.5', 'unit': 'mmol/l'},
 {'parameter': 'tfer', 'value': '2.7', 'unit': 'g/l'},
 {'parameter': 'ferr', 'value': '47', 'unit': 'ug/l'},
 {'parameter': 'chol', 'value': '2.0', 'unit': 'mmol/l'},
 {'parameter': 'vldlc', 'value': '>1.0', 'unit': 'mmol/l'},
 {'parameter': 'nonhdl', 'value': '<3.3', 'unit': 'mmol/l'},
 {'parameter': 'hba1c', 'value': '134', 'unit': 'g/l'},
 {'parameter': 'mchc', 'value': '325', 'unit': 'g/l'},
 {'parameter': 'wbc', 'value': '7.9', 'unit': 'x10*9/l'},
 {'parameter': 'neut', 'value': '4.11', 'unit': 'x10*9/l'},
 {'parameter': 'lympho%', 'value': '2.96', 'unit': 'x10*9/l'},
 {'parameter': 'mono', 'value': '0.59', 'unit': 'x10*9/l'},
 {'parameter': 'eos', 'value': '0.17', 'unit': 'x10*9/l'},
 {'parameter': 'baso', 'value': '0.04', 'unit': 'x10*9/l'},
 {'parameter': 'nrbcs', 'value': '<1.0', 'unit': '/100'},
 {'parameter': 'plat', 'value': '261', 'unit': 'x10*9/l'},
 {'parameter': 'esr', 'value': '1', 'unit': 'mm/h'},
 {'parameter': 'tsh', 'value': '2.99', 'unit': 'milu/l'},
 {'parameter': 'vitd', 'value': '83', 'unit': 'nmol/l'},
 {'parameter': 'galt', 'value': '29', 'unit': 'nmol/l'},
 {'parameter': 'pheala', 'value': '20', 'unit': 'nmol/l'},
 {'parameter': 'uric', 'value': '0.21', 'unit': 'mmol/l'},
 {'parameter': 'pth', 'value': '3.5', 'unit': 'pmol/l'}]

In [369]:
# Check code works the same as earlier testing function
print(len(results))
print(len(test))

test

43
43

,param,unit,value,line_number,matching_synonym,text
0,RBC,x10*6/l,14,5,erythrocytes,erythrocytes h 14 x10*6/l
1,GGLO,iu/ml,11,9,igg,rubella igg 11 iu/ml
2,Na+,mmol/l,140,18,sodium,sodium 140 l 134 139 140 mmol/l
3,K+,mmol/l,4.5,19,potassium,potassium 4.9 5.5 4.8 4.5 mmol/l
4,Cl-,mmol/l,106,20,chloride,chloride 106 106 107 106 mmol/l
5,CO2,mmol/l,25,21,bicarbonate,bicarbonate 23 21 21 25 mmol/l
6,UREA,mmol/l,5.1,22,urea,urea 4.0 4.8 5.3 5.1 mmol/l
7,CREA,umol/l,65,23,creatinine,creatinine 70 70 65 65 umol/l
8,EGFR,ml/min/1.73m2,>90,24,egfr,egfr >90 >90 >90 >90 ml/min/1.73m2
9,Ca2+,mmol/l,2.40,25,calcium,calcium 2.40 mmol/l
10,P5+,mmol/l,1.08,28,phosphate,phosphate. 1.08 mmol/l
11,BILIIN,umol/l,18,29,bili,bili.total 11 h 20 h 18 umol/l
12,ALP,u/l,70,30,alp,alp 59 60 70 u/l
13,GGT,u/l,15,31,ggt,ggt 13 11 15 u/l
14,AST,u/l,23,33,ast,ast 19 25 23 u/l
15,ALT,u/l,22,34,alt,alt 16 12 22 u/l
16,PROT,g/l,72,35,total protein,total protein 76 70 72 g/l
17,ALB,g/l,46,36,albumin,albumin 46 44 46 g/l
18,TRIGL,mmol/l,0.6,39,triglycerides,triglycerides 0.6 mmol/l
19,GLUC,mmol/l,4.7,45,gluc,f gluc plasma 4.5 4.7 mmol/l
20,FGLUC,mmol/l,5.5,49,fasting glucose test,diabetes is unlikely if fasting glucose levels...
21,TFER,g/l,2.7,56,transferrin,transferrin 2.2 2.5 2.7 g/l
22,FERR,ug/l,47,59,ferritin,ferritin 38 719 39 47 ug/l
23,CHOL,mmol/l,2.0,66,chol,hdl chol. 1.6 2.0 mmol/l
24,VLDLC,mmol/l,>1.0,73,vldl cholesterol,hdl cholesterol >1.0 mmol/l
25,NONHDL,mmol/l,<3.3,75,non-hdl cholesterol,non-hdl cholesterol <3.3 mmol/l
26,HBA1C,g/l,134,81,hemoglobin a1c,haemoglobin 124 128 127 134 g/l
27,MCHC,g/l,325,86,mchc,mchc 328 338 344 325 g/l
28,WBC,x10*9/l,7.9,88,wcc,wcc 7.7 8.4 9.3 7.9 x10*9/l
29,NEUT,x10*9/l,4.11,89,neutrophils,neutrophils 4.32 4.50 4.69 4.11 x10*9/l
30,LYMPHO%,x10*9/l,2.96,90,lympho%,lymphocytes 2.77 2.96 3.67 2.96 x10*9/l
31,MONO,x10*9/l,0.59,91,monocytes,monocytes 0.52 0.76 0.63 0.59 x10*9/l
32,EOS,x10*9/l,0.17,92,eosinophils,eosinophils 0.07 0.11 0.22 0.17 x10*9/l
33,BASO,x10*9/l,0.04,93,basophils,basophils 0.04 0.07 0.04 0.04 x10*9/l
34,NRBCs,/100,<1.0,94,nrbc,nrbc <1.0 <1.0 <1.0 <1.0 /100 wbc
35,PLAT,x10*9/l,261,95,platelets,platelets 221 267 234 261 x10*9/l
36,ESR,mm/h,1,96,esr,esr 1 mm/h
37,TSH,milu/l,2.99,105,tsh,tsh 1.14 1.18 1.57 2.99 milu/l
38,vitD,nmol/l,83,110,vitamin d2,vitamin d 73 83 nmol/l
39,GALT,nmol/l,29,114,galt deficiency,moderate deficiency 12.5 - 29 nmol/l
40,PHEALA,nmol/l,20,117,phe level,winter - the level may need to be 10 - 20 nmol...
41,URIC,mmol/l,0.21,283,urate,urate 0.20 0.21 mmol/l
42,PTH,pmol/l,3.5,300,parathyroid hormone,intact parathyroid hormone 3.5 pmol/l

- Both C02 and HCO3 have the synonym bicarbonate in X1 json (likely shouldn't be a sysnonym for CO2)